<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <article>
            <time>published: Right now.</time>
            <h2><a href="">My first post</a></h2>
            <p>HAIIIIIIIIIIIIIIIIIII :3</p>
        </article>

        <article>
            <time>published: Tomorrow??</time>
            <h2><a href="">My second post</a></h2>
            <p>^w^</p>
        </article>
    </body>
</html>